.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.Checkmark {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:checked {
    background-color: #8728ff;
    color: white;
    ::after {
      content: "✔";
    }
  }
}
