@import '@/app/_mixins.scss';

.MypageWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1024px;
    padding: 30px 15px;
    // outline: 1px solid red;
}

.MyInformation {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 18px;

    .NicknameWrapper {
        padding-left: 10px;
    }

    .Nickname {
        font-weight: 700;
    }
}

.EditProfileWrapper {
    position: absolute;
    top: 30px;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;

    .EditProfile {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #999999;
    }

    .EditProfilIcon {
        font-size: 20px;
    }
}

.EarnedBenefits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    font-size: 14px;
    padding: 10px 0;
    margin: 15px 0;
    border-radius: 10px;

    .PointsWrapper {
        display: flex;
        flex-direction: column;

        .PointsTitle {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .PointsTitleName {
            padding-left: 3px;
        }
    }

    .CouponsWrapper {
        display: flex;
        flex-direction: column;
        border-left: 1px solid #d8d8d8;
        padding-left: 45px;

        .CouponsTitle {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .CouponsTitleName {
            padding-left: 3px;
        }
    }
}

.Amount {
    font-size: 18px;
    font-weight: 700;
}

.MypageCategoryWrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.MypageCategory {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 14px;
    align-items: center;
    cursor: pointer;

}

.FooterBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}