@import "../../_mixins.scss";

.container {
  min-height: 68px;
  max-height: 68px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  position: fixed;
  bottom: 0;
  margin-top: 19px;
}

@include mobile {
<<<<<<< HEAD
    .foot-navigation {
        margin: 0 20px;
        gap: 20px;
        width: 320px;
    }
}

@include tablet {
    .foot-navigation {
        margin: 0 204px;
        gap: 20px;
        width: 360px;
    }
}

@include desktop {
    .foot-navigation {
        margin: 0 448px;
        gap: 20px;
        width: 1024px;
    }
=======
  .foot-navigation {
    margin: 0 20px;
    gap: 20px;
    width: 320px;
  }
}

@include tablet {
  .foot-navigation {
    margin: 0 204px;
    gap: 20px;
    width: 360px;
  }
}

@include desktop {
  .foot-navigation {
    margin: 0 448px;
    gap: 20px;
    width: 1024px;
  }
>>>>>>> 70b901b81c4325e45ffbd9e342a12876ebcd45fd
}

.foot-navigation {
  display: flex;
  min-height: max-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.footbar-text {
  cursor: pointer;
  padding-top: 10px;
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  min-width: 120px;
}

.footbar-text.selected {
  color: #8728ff;
}

.footbar-text.map p {
  color: #8728ff;
  font-weight: bold;
}

.footbar-text:hover {
  color: #8728ff;
}

.container svg {
  width: 27px;
  height: 27px;
}

.footbar-text p {
  font-size: 13px;
  font-weight: 500;
}
