.foot-navigation {
  width: 360px;
  height: 68px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.footbar-text {
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  width: 120px;
  /* border: 1px solid blue; */
}

.footbar-text.home p {
  color: #8728ff;
  font-weight: bold;
}

.footbar-text:hover {
  color: #8728ff;
}

svg {
  width: 27px;
  height: 27px;
}

p {
  font-size: 13px;
  font-weight: 500;
}
