.wrapper {
  margin: 0 auto;
  background-color: #ffffff;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

// 부분
.sale-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray700);
}

.amount {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.border {
  height: 1px;
  width: 100%;
  background-color: var(--gray100);
}
