.search-container {
  width: 360px;
  margin: 0 auto;
  padding: 10px 0;

  .search-input {
    margin: 10px auto 10px auto;
  }

  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .search {
    .current-bar {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      span {
        font-size: 16px;
        font-weight: 700;
        line-height: 23.17px;
        letter-spacing: -0.045em;
        text-align: left;
      }

      button {
        font-size: 12px;
        font-weight: 500;
        line-height: 17.38px;
        letter-spacing: -0.045em;
        text-align: center;
        color: #8728ff;
      }
    }
    .content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 0 20px;
      .current-content {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        .search-term-wrapper {
          font-size: 14px;
          font-weight: 500;
          line-height: 20.27px;
          letter-spacing: -0.045em;
          text-align: center;
          gap: 0px;
          border-radius: 18.5px;
          border: 1px solid #cccccc;
          padding: 10px 20px;
        }
      }
      .recommend-wrapper {
        p {
          font-size: 16px;
          font-weight: 700;
          line-height: 23.17px;
          letter-spacing: -0.045em;
          text-align: left;
          padding: 10px 0;
        }

        .recommend-container {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          .text {
            font-size: 14px;
            font-weight: 500;
            line-height: 20.27px;
            letter-spacing: -0.045em;
            text-align: center;
            gap: 0px;
            border-radius: 18.5px;
            border: 1px solid #cccccc;
            padding: 10px 20px;
          }
        }
      }

      .popular-content {
        p {
          font-size: 16px;
          font-weight: 700;
          line-height: 23.17px;
          letter-spacing: -0.045em;
          text-align: left;
        }
      }
    }
  }
}
