.rdp-root {
    --rdp-accent-color: #8728ff;
    --rdp-accent-background-color: #fff;
}
.customDayPicker {
    .rdpContainer {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        margin: 0 auto;
    }

    .dayMonths {
        position: relative;
        margin: 0 auto;
        height: 100%;
    }
    .dayMonth {
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dayBtn {
        width: 20px;
        height: 20px;
        border: none;
        background-color: transparent;
    }

    .monthCaption {
        padding-bottom: 25px;
    }

    .navBtn {
        position: absolute;
        top: 20px;
        right: 25px;
        color: #8728ff;
        gap: 30px;
    }
}

.calenderWrapper {
    position: relative;
    width: 300px;
    height: 335px;
    background-color: #fff;
    border: 1px solid #8728ff;
    border-radius: 10px;
    margin: 0 auto;
}
.buttonwrapper button {
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}

.cancleBtn {
    position: absolute;
    bottom: 6px;
    left: 160px;
    background-color: #fff;
    border: 1px solid #8728ff;
}

.confirmBtn {
    position: absolute;
    bottom: 6px;
    right: 25px;
    background-color: #8728ff;
    border: 1px solid #8728ff;
    color: #fff;
}
