.productBox {
    border-radius: 10px;
    max-width: 320px;
    transition: 0.3s ease all;
    cursor: pointer;
    position: relative;
    padding: 11px 10px 12px;

    .productBoxInn {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 100%;
        flex-direction: column;

        .productBoxImage {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .productBoxInfo {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 2px;
            width: 100%;
            justify-content: space-between;



            h4 {
                font-size: 0.8rem;
                font-weight: 700;
            }

            .ratingBox {
                display: flex;
                align-items: center;
                gap: 5px;

                .ratingScore {
                    font-size: 0.8rem;
                    font-weight: 700;
                }

                .reviews {
                    font-size: 0.7rem;
                    color: rgba(153, 153, 153, 1);
                }
            }

            .address {
                font-size: 0.7rem;
                color: rgba(127, 127, 127, 1);
            }

            .priceArea {
                text-align: right;
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }

    &:hover {
        box-shadow: 0px 4px 11px 4px rgba(121, 121, 121, 0.3);
    }
}

// @media (min-width: 560px) {
//     .productBox {
//         max-width: 328px;

//         .productBoxInn {
//             flex-direction: column;

//             .productBoxImage {
//                 max-width: 100%;
//                 border-radius: 10px;
//                 overflow: hidden;
//             }

//             .productBoxInfo {
//                 h3 {
//                     font-size: 1.25rem;
//                 }

//                 .ratingBox {
//                     .ratingScore {
//                         font-size: 1rem;
//                     }

//                     .ratingCount {
//                         font-size: 1rem;
//                     }
//                 }

//                 .address {
//                     font-size: 0.85rem;
//                 }

//                 .priceArea {
//                     font-size: 1.35rem;
//                 }
//             }
//         }
//     }
// }