html {
    margin: 0 auto;
    max-width: 360px;
    max-height: 760px;
}

.ProductImage {
    width: 360px;
    height: 228px;
    outline: 1px solid red;
}

.ProductMainImage {
    width: 110px;
    height: 110px;
    outline: 1px solid red;
}
