.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-box {
  width: 104px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--sub-purple);
  border-radius: 11px;
  cursor: pointer;
}

.button-box button[type="button"] {
  background: none;
  border: none;
  outline: none;
  color: var(--main-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.button-icon p {
  font-size: 12px;
  font-weight: 500;
}

//체크박스 부분
.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

//약관 안내 문구 부분
.caption-container {
  height: 90px;
  background-color: var(--gray50);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.caption-container span {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray600);
  padding: 12px;
}
