.Wrapper {
  margin: 0 auto;
  background-color: #ffffff;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

//쿠폰 및 포인트 사용 부분
.title-box {
  height: 50px;
  display: flex;
  align-items: center;
}

.title-text {
  font-size: 14px;
  font-weight: 700;
  // &::after {
  //   content: "*";
  //   color: #d53560;
  // }
}

//쿠폰 부분
.coupon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.coupon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 500;
}

.available {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
}

.botton-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.available {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
}

.botton-box button[type="button"] {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
