//전체적인 페이지 레이아웃
.page-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.page {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--gray100);
  padding-top: 40px;
}

.bottom-box {
  height: 162px;
  padding: 15px;
}

.bottom-box p {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray600);
}

.ablebutton-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.error-message {
  font-size: 12px;
  font-weight: 400;
  color: var(--sub-red);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

//호텔명 부분
.reservation-container {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.hotelname-title {
  font-size: 14px;
  font-weight: 700;
}

.room-detailcontent {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray700);
}

//체크인, 체크아웃 부분
.reservationdate-container {
  background-color: var(--gray50);
  border-radius: 20px;
  // width: 320px;
  height: 101px;
  display: flex;
  justify-content: center;
}

.reservationdate-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.check {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray500);
}

.date-text {
  font-size: 14px;
  font-weight: 500;
}

.date-time {
  font-size: 14px;
  font-weight: 500;
}

//n박 표시 부분
.day-box {
  width: 41px;
  height: 23px;
  background-color: var(--gray100);
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray800);
}

//방문수단 부분
.visit-container {
  background-color: var(--gray50);
  border-radius: 10px;
  width: 320px;
  height: 47px;
  display: flex;
  justify-content: center;
}

.visit-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.visit-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray700);
  &::after {
    content: "*";
    color: var(--main-pink);
  }
}

//방문수단 체크박스 부분
.visit-checkBox {
  display: flex;
  gap: 23px;
}

.custom-checkbox {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray400);
  align-items: center;
  cursor: pointer;
}

.custom-checkbox span {
  display: inline-block;
  border: none; /* 테두리 색상 */
  position: relative;
  cursor: pointer;
  margin-right: 5px; /* 텍스트와의 간격 */
  transition: background-color 0.2s ease;
}

//결제금액 부붙
.pay-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 320px;
  height: 60px;
}

.pay-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray700);
}

.badge-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.pay-amount {
  font-size: 16px;
  font-weight: 700;
}

.border {
  height: 1px;
  width: 100%;
  background-color: var(--gray100);
  margin-bottom: 10px;
}
