.wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 16px;
}

.Reservation-container {
  display: flex;
  flex-direction: column;
}

//상품 정보 부분
.title {
  font-size: 14px;
  font-weight: 700;
}

.Reservation-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hotel-name {
  font-size: 14px;
  font-weight: 700;
}

.date-text {
  font-size: 12px;
  font-weight: 500;
  color: #191919;
}

.room-detailcontent {
  font-size: 12px;
  font-weight: 500;
  color: #7f7f7f;
}

//이용시간 부분
.time-content {
  width: 90%;
  // width: 320px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 7px;
  padding: 15px;
}

.use-time {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
}

.check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.checktime-text {
  font-size: 12px;
  font-weight: 500;
  color: #7f7f7f;
}

.time-text {
  font-size: 12px;
  font-weight: 500;
  color: #4c4c4c;
}

//결제금액 부분
.pay-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
