.Reservation-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 14px;
  font-weight: 700;
  height: 35px;
  display: flex;
  align-items: center;
}

//상품 정보 부분
.Reservation-content {
  display: flex;
  gap: 10px;
}

.Reservation-content img {
  width: 101px;
  height: 101px;
}

.hotel-name {
  font-size: 14px;
  font-weight: 700;
}

.date-text {
  font-size: 12px;
  font-weight: 500;
  color: #191919;
}

.room-detailcontent {
  font-size: 12px;
  font-weight: 500;
  color: #7f7f7f;
}

//이용시간 부분
.time-content {
  width: 90%;
  // width: 320px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(229, 229, 229, 0.6);
  border-radius: 7px;
  padding: 15px;
}

.use-time {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
}

.check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.checktime-text {
  font-size: 12px;
  font-weight: 500;
  color: #7f7f7f;
}

.time-text {
  font-size: 12px;
  font-weight: 500;
  color: #4c4c4c;
}

//결제금액 부분
.pay-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.pay-text {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
}

.pay-amount {
  font-size: 16px;
  font-weight: 700;
}

.border {
  height: 1px;
  width: 90%;
  background-color: #e5e5e5;
  margin-bottom: 10px;
}
