@import "@/app/_mixins.scss";

.wrapper {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 16px;
}

.user-container {
    display: flex;
    flex-direction: column;
    height: 90px;
    gap: 10px;
}

.title-text {
    font-size: var(--medium);
    font-weight: 500;
}

.custom-input {
    width: 100%;
    min-height: 43px;
    border: 1.4px solid var(--main-purple);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
}



@include desktop {
    .title-text {
        font-size: var(--small);
        font-weight: 500;
    }

}