@import "@/app/_mixins.scss";

//체크박스 부분
.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

//약관 안내 문구 부분
.caption-container {
    height: 90px;
    background-color: var(--gray50);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.caption-container span {
    font-size: 12px;
    font-weight: 500;
    color: var(--gray600);
    padding: 12px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex: 1;
    width: 100%;
}

@include desktop {
    .payment-method-container {
        display: flex;

        & .checkbox-container {
            width: 50%;
        }

        & .button-container {
            width: 50%;
        }
    }

}

@include tablet {
    .payment-method-container {
        display: flex;

        & .checkbox-container {
            width: 50%;
        }

        & .button-container {
            width: 50%;
        }
    }
}