.wrapper {
  margin: 0 auto;
  width: 360px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 16px;
}

.user-container {
  display: flex;
  flex-direction: column;
  height: 90px;
  gap: 10px;
}

.title-text {
  font-size: 14px;
  font-weight: 500;
}

.custom-input {
  width: 320px;
  height: 43px;
  border: 1.4px solid #8728ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #999999;
}
