//예약,취소내역 부분
.category-container {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.CategoryLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  border: 0px;
  background-color: var(--white);
  color: var(--gray300);
  cursor: pointer;
  width: 45%;
  height: 35px;
  border-bottom: 1.3px solid var(--gray200);

  &.selected {
    color: var(--main-purple);
    border-bottom: 1.3px solid var(--main-purple);
  }
}

//숙소 정보 부분
.reservation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}

.title {
  font-size: 14px;
  font-weight: 700;
  height: 35px;
  display: flex;
  align-items: center;
}

//상품 정보 부분
.reservation-content {
  width: 100%;
  display: flex;
  gap: 10px;
}

.reservation-content img {
  width: 101px;
  height: 101px;
}

.hotel-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hotel-name {
  font-size: 14px;
  font-weight: 700;
}

.date-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray900);
}

.room-detailcontent {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray500);
}

.arrow-icon {
  font-size: 10px;
  font-weight: 500;
  color: var(--gray400);
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  cursor: pointer;
}

//이용시간 부분
.time-content {
  width: 100%;
  // width: 320px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(229, 229, 229, 0.6);
  border-radius: 7px;
  padding: 0 20px;
}

.time-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 27px;
}

.use-time {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray800);
}

.check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.checktime-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray500);
}

.time-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray700);
}

//결제금액 부분
.pay-container {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.pay-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray800);
}

.pay-amount {
  font-size: 16px;
  font-weight: 700;
}

.border {
  height: 1px;
  width: 98%;
  background-color: var(--gray100);
  margin-bottom: 10px;
}
