//예약,취소내역 부분
.category-container {
  display: flex;
  justify-content: center;
}

.CategoryLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  border: 0px;
  background-color: var(--white);
  cursor: pointer;
  width: 45%;
  height: 35px;
  border-bottom: 1.3px solid var(--gray200);

  &.selected {
    color: var(--main-purple);
    border-bottom: 1.3px solid var(--main-purple);
  }
}
