.SelectGenderWrapper {
  margin: 0 auto;
  max-width: 360px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  .SelectGenderContent {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 7px;

    .SelectGender {
      font-size: 25px;
      color: #8728ff;
      font-weight: 500;
    }

    .SelectGenderInform {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .SelectGenderRadioBtn {
    display: flex;
    flex-direction: column;
    padding: 30px 0 60px;
    gap: 10px;
    color: #999999;

    .SelectGenderBtn {
      padding: 20px;
      border: 1px solid #e5e5e5;
      border-radius: 10px;
      cursor: pointer;

      &.selected {
        border-color: #8728ff;
      }
    }
  }
}

.SelectGenderNextBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 30px;
}
