.social-login-alert {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type='checkbox'] {
    margin-right: 8px;
    transform: scale(1.2);
}
