.alert-wrapper {
  width: 360px;
  margin: 0 auto;
  padding: 0 20px;
}

.alert-wrapper .alert-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.alert-wrapper .alert-container .alert-card {
  display: flex;
  gap: 10px;
}

.alert-wrapper .alert-container .alert-card img {
  width: 62px;
  height: 62px;
}
