.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 360px;
    height: 760px;
    background-color: var(--white);
    overflow-y: auto;
}

.container {
    position: fixed;
    overflow-y: auto;
    padding: 15px;
    background-color: var(--white);
    margin: 0 auto;

    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .allCheckBox{
        margin-bottom: 10px;
    }
}

.checkBox{
    display: flex;
    justify-content: space-between;
    margin: 16px 0;

    a{
        color: var(--main-purple);
        text-decoration: none;
    }

}