.loading-page {
  background-image: url("../../../public/images/ioading.svg"), linear-gradient(135deg, rgba(135, 40, 255, 0.3), rgba(255, 255, 255, 0.5));
  background-repeat: no-repeat; /* 이미지 반복을 막음 */
  background-attachment: fixed; /* 배경 이미지 고정 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 80% auto; /* 배경 이미지를 80% 크기로 조정 */
  background-position: center; /* 배경 이미지가 중앙에 위치하도록 */
  z-index: 9999;
  overflow: hidden;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 10px solid rgba(135, 40, 255, 0.2);
  border-top: 10px solid #8728ff;
  border-radius: 50%;
  animation: spin 1.2s ease-in-out infinite;
  box-shadow: 0 0 20px rgba(135, 40, 255, 0);
}

.text {
  position: absolute;
  color: #8728ff;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  top: 75%;
  text-align: center;
  text-shadow: 0 0 10px rgba(135, 40, 255, 0.2);
  animation: dot-animation 1s steps(3) infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
