.badgeName {
  font-size: 0.625rem;
  color: rgb(135, 40, 255);
  display: inline-block;
}

.round {
  border: 1px solid rgb(135, 40, 255);
  align-self: flex-start;
  width: auto;
  padding: 2px 9px;
  border-radius: 9px;
}

.square {
  padding: 0 4px;
  background: rgba(135, 40, 255, 0.2);
}