.inputWrapper {
    position: relative;
    margin: 10px 0; 
}

.inputField {
    width: 100%;
    padding: 10px;
    border: 2px solid; 
    border-radius: 4px; 
    outline: none; 
}

.toggleButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); 
    background: transparent; 
    border: none; 
    cursor: pointer; 
}
