.Container {
  display: flex;
  align-items: center;
  gap: 11px;
  max-width: max-content;
}

.Wrapper {
  display: flex;
  align-items: center;
  gap: 11px;
  width: 100%;
}

.Checkmark {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #cccccc;
  &.Checked {
    background-color: #8728ff;
  }
  &.Transparent {
    background-color: transparent;
  }
  &.isCircle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }
}

.CheckIcon {
  width: 12px;
  height: 14px;
  path {
    fill: #ffffff;
  }
  &.Transparent {
    path {
      fill: #7f7f7f;
    }
    &.checked {
      path {
        fill: #8728ff;
      }
    }
    &.shadow:not(checked) {
      path {
        filter: drop-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.25));
      }
    }
  }
}

.Label {
  &.isLabelGray {
    color: #7f7f7f;
  }
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
