.ProductDetailWrapper {
    margin: 0 auto;
    max-width: 360px;
    max-height: 760px;
}

.ProductDetailHeader {
    position: relative;
}

.CartIcon {
    position: absolute;
    top: 20;
    right: 0;
    font-size: 19px;
    color: var(--black);
}

.ProductImage {
    width: 360px;
    height: 228px;
    // outline: 1px solid red;
}

.ProductInform {
    padding: 15px;
}

.ProductWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.ProductTitleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProductTitle {
    font-weight: 600;
    font-size: 16px;
}

.ProductTitleWrapper p {
    font-size: 12px;
    color: var(--gray500);
    padding-top: 5px;
}

.ProductDetailInformation {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 25px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--gray50);
    position: relative;
}

.RoomInformation {
    color: var(--gray500);
}

.PersonCountInformation {
    color: var(--gray700);
}

.ProductDetailInformation::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--gray100);
    position: absolute;
    bottom: -15;
    right: 0;
}

.ProductSelectWrapper {
    padding: 0 10px;
}

.ProductCategoryBadge {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: var(--gray300);
    padding-top: 10px;
}

.ProductCategoryWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ReservationSelectBtn {
    display: flex;
    padding-top: 20px;
    gap: 10px;
}
